<launch> 
<!-- Turtlesim Node-->
 <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
 
<node pkg="rosservice" type="rosservice" name="initial_position" args='call --wait /turtle1/teleport_absolute "{x: 1,y: 1, theta: 1.5}" '/>
<node pkg="rosservice" type="rosservice" name="clear_path" args='call --wait /clear '/>

<!-- spawn more turtles -->
<node pkg="rosservice" type="rosservice" name="create_task1" args='call --wait /spawn "{x: 7,y: 8.5, theta: -1.5, name: task1}" '/>
<node pkg="rosservice" type="rosservice" name="create_task2" args='call --wait /spawn "{x: 3,y: 8.5, theta: -1.5, name: task2}" '/>
<node pkg="rosservice" type="rosservice" name="create_task3" args='call --wait /spawn "{x: 5.54,y: 5.54, theta: -1.5, name: task3}" '/>
<node pkg="rosservice" type="rosservice" name="create_task4" args='call --wait /spawn "{x: 2,y: 5, theta: -1.5, name: task4}" '/>
<node pkg="rosservice" type="rosservice" name="create_task5" args='call --wait /spawn "{x: 8,y: 4, theta: -1.5, name: task5}" '/>

<node pkg="rosservice" type="rosservice" name="create_robot1" args='call --wait /spawn "{x: 5.54,y: 1, theta: 1.5, name: robot1}" '/>
<node pkg="rosservice" type="rosservice" name="create_robot2" args='call --wait /spawn "{x: 4,y: 1, theta: 1.5, name: robot2}" '/>

</launch>
